<form class="form mat-elevation-z8">
    <h1>Deletando cozinha</h1>
      <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="cozinha.nome" name="nome" disabled maxlength="60" matInput placeholder="Ex. Brasileira">
      </mat-form-field> 
  
      <button class="mat-elevation-z8" (click)="delete()" mat-stroked-button color="primary">Excluir</button>
      <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">Cancelar</button>
  </form> 